@font-face {
  font-family: 'BakeryParadise';
  src: url('fonts/bakery_paradise.eot'); /* IE9 Compat Modes */
  src: url('fonts/bakery_paradise.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/bakery_paradise.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/bakery_paradise.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/bakery_paradise.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/bakery_paradise.svg#svgFontName') format('svg'); /* Legacy iOS */
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #CCC;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 680px) {
    body {
        font-size: 12px;
    }
}
@media screen and (max-width: 480px) {
    body {
        font-size: 10px;
    }
}
@media screen and (max-width: 380px) {
    body {
        font-size: 8px;
    }
}

img {
    width: 100%;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    box-shadow: 0px 0px 15px 3px #888;
    
}

/**
 * NAVBAR
 */


nav {
    background-color: #FFF;
    text-align: center;
}

nav span {
    display: inline-block;
    width: 15%;
    font-family: 'BakeryParadise';
    font-size: 1.9em;
    /*text-align: center;*/
    margin-top: 10px;
    vertical-align: bottom;
}

nav span.logo {
    width: 15%;
    text-align: center;
    /*height: 60px;*/
}

nav span.logo img {
    max-width: 76px;
    vertical-align: middle;
}

/**
 * MAIN
 */

main {
    /*height: 669px;*/
    position: relative;
    padding-top: 65.33203125%; /* aspect ratio */
    background-image: url('images/main_rgb.png');
    background-size: cover;
}

main .logo {
    position: absolute;
    width: 230px;
    /*height: 190px;*/
    top: 100px;
    left: 70px;
}

main .play-btn {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 20%;
    left: 50%;
    margin: 0 -37.5px;
    background-image: url('images/play_button.png');
    background-size: cover;
    opacity: 0.8;
}

main .play-btn:hover {
    opacity: 1;
    cursor: pointer;
}

main .bottle {
    position: absolute;
    width: 190px;
    /*height: 550px;*/
    right: 50px;
    bottom: -75px;   
}

main legend {
    position: absolute;
    right: 20.23925781%;
    top: 88.34080717%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: right;
}

/*section.subtitle {
    background-color: #888;
    height: 100px;
    font-style: italic;
    padding-left: 30px;
    margin-top: -16px;
}*/

/**
 * VIDEOS BAR
 */

section.videos {
    background-image: url('images/wood.jpg');
    background-size: cover;
    /*height: 238px;*/
    text-align: center;
}

.videos .video {
    display: inline-block;
    padding: 1.5% 3% 0.5%;
    width: 32%;
    vertical-align: top;
}

.video .img-frame {
    position: relative;
    padding-top: 65%;
    overflow: hidden;
    border-radius: 10px;
    -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}

.video img {
    position: absolute;
    top: 0;
    left: 0;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.video:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.videos p {
    margin: 10px 0 0;
    font-family: 'BakeryParadise';
    font-size: 1.8em;
    text-align: center;
}

/**
 * FOOTER
 */

footer {
    position: relative;
    /*height: 670px*/
    padding-top: 65.4296875%; /* aspect ratio */
    background-image: url('images/footer_bg_rgb.png');
    background-size: cover;
    z-index: -2;
}

footer .logo {
    position: absolute;
    /*width: 160px;
    left: 66px;
    top: 84px;*/
    width: 15.625%;
    left: 6.4453125%;
    top: 12.53731343%;
}

footer .sub-logo {
    position: absolute;
    /*width: 160px;
    left: 66px;
    top: 198px;*/
    width: 15.625%;
    left: 6.4453125%;
    top: 29.55223881%;
}

footer .bottle {
    position: absolute;
    /*width: 212px;
    left: 406px;
    bottom: 60px;*/
    width: 20.703125%;
    left: 39.6484375%;
    bottom: 5.859375%;
}

footer #lemon-grass {
    position: absolute;
    /*width: 260px;
    right: 220px;
    top: 50px;*/
    width: 25.390625%;
    right: 21.484375%;
    top: 7.462686567%;
    z-index: -1;
}

footer #lemon {
    position: absolute;
    /*width: 300px;
    right: 549px;
    top: 290px;*/
    width: 29.296875%;
    right: 53.61328125%;
    top: 43.28358209%;
    z-index: -1;
}

footer #peppermint {
    position: absolute;
    width: 18.359375%;
    right: 23.92578125%;
    bottom: 21.04477612%;
    z-index: -1;
}