@font-face {
  font-family: 'BakeryParadise';
  src: url('fonts/bakery_paradise.eot'); /* IE9 Compat Modes */
  src: url('fonts/bakery_paradise.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/bakery_paradise.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/bakery_paradise.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/bakery_paradise.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/bakery_paradise.svg#svgFontName') format('svg'); /* Legacy iOS */
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #CCC;
    font-size: 16px;
    font-family: 'BakeryParadise';
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #FF8900;
}

a:active {
    color: #F23C00;
}

@media screen and (max-width: 680px) {
    body {
        font-size: 14px;
    }
}
@media screen and (max-width: 580px) {
    body {
        font-size: 12px;
    }
}
@media screen and (max-width: 480px) {
    body {
        font-size: 10px;
    }
}
@media screen and (max-width: 380px) {
    body {
        font-size: 8px;
    }
}

img {
    width: 100%;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    box-shadow: 0px 0px 15px 3px #888;
    background-color: white;
}

/**
 * NAVBAR
 */


nav {
    /*text-align: center;*/
    /*position: relative;*/
    padding: 1% 3% 0 3%;
}

nav a {
    /*display: inline-block;
    width: 15%;*/
    /*text-align: center;*/
    margin-top: 10px;
    vertical-align: bottom;
}

/*nav a.logo {
    width: 15%;
    text-align: center;
    height: 60px;
}*/

nav a.logo img {
    max-width: 76px;
    vertical-align: middle;
}

nav .text {
    font-size: 1.9em;
    display: block;
    float: right;
    margin-right: 5%;
}

nav .buy-btn {
    font-size: 1.9em;
    float: right;
    /*position: absolute;*/
    background-color: #FF9945;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: arial;
    font-size: 1.1em;
    cursor: pointer;
    box-shadow: 3px 3px 1px 0px #DF6925;
    transition: all 500ms ease;
    /*right: 2%;*/
}

nav .buy-btn:hover {
    background-color: #FFC985;
    /*box-shadow: 3px 3px 1px 0px #F23C00;*/
}


/**
 * MAIN
 */

main {
    /*height: 669px;*/
    position: relative;
    padding-top: 65.33203125%; /* aspect ratio */
    background-image: url('images/main_rgb.png');
    background-size: cover;
}

main .logo {
    position: absolute;
    width: 230px;
    /*height: 190px;*/
    top: 100px;
    left: 70px;
}

main .play-btn {
    position: absolute;
    width: 7.3%;
    padding-top: 7.3%;
    top: 20%;
    left: 50%;
    margin: 0 -3.65%;
    background-image: url('images/play_button.png');
    background-size: cover;
    opacity: 0.8;
}

@media screen and (max-width: 680px) {
    main .play-btn {
        width: 10%;
        padding-top: 10%;
        margin: 0 -5%;
    }
}

main .play-btn:hover {
    opacity: 1;
    cursor: pointer;
}

main .bottle {
    position: absolute;
    width: 190px;
    /*height: 550px;*/
    right: 50px;
    bottom: -75px;   
}

main legend {
    position: absolute;
    right: 20.23925781%;
    top: 88.34080717%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: right;
}

.about {
    padding: 50px 100px 50px 100px;
    background-image: url('images/wood.jpg');
    background-size: cover;
    color: #333;
    font-size: 1.1em;
}

.about h2 {
    font-size: 1.9em;
    margin-bottom: 0px;
}

.about p {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: justify;
    margin-top: 0.5em;
}

.about .wrapper {
    background-color: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 15px 3px #888;
    padding: 10px;
}

.about .wrapper::after {
    content: "";
    display: table;
    clear: both;
}

.about .shelley {
    float: left;
    width: 300px;
    margin-right: 50px;
}

.about .signature {
    float: right;
    width: 200px;
}

/*section.subtitle {
    background-color: #888;
    height: 100px;
    font-style: italic;
    padding-left: 30px;
    margin-top: -16px;
}*/

/**
 * VIDEOS BAR
 */

section.videos {
    background-image: url('images/wood.jpg');
    background-size: cover;
    /*height: 238px;*/
    text-align: center;
}

.videos .video {
    display: inline-block;
    padding: 1.5% 3% 0.5%;
    width: 32%;
    vertical-align: top;
}

.video .img-frame {
    position: relative;
    padding-top: 65%;
    overflow: hidden;
    border-radius: 10px;
    -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}

.video img {
    position: absolute;
    top: 0;
    left: 0;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.video:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.videos p {
    margin: 10px 0 0;
    font-size: 1.8em;
    text-align: center;
}

/**
 * PRODUCT
 */

@media screen and (max-width: 880px) {
    #product {
        font-size: 14px;
    }
}
@media screen and (max-width: 780px) {
    #product {
        font-size: 12px;
    }
}
@media screen and (max-width: 680px) {
    figcaption {
        display: none;
    }
}

#product {
    position: relative;
    /*height: 670px*/
    padding-top: 70.89%; /* aspect ratio */
    background-image: url('images/product_bg_rgb.png');
    background-size: cover;
    overflow: hidden;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

#product .logo {
    position: absolute;
    width: 15.625%;
    left: 6.4453125%;
    top: 12.53731343%;
}

#product .fly-away {
    position: absolute;
    width: 31.25%;
    left: 34.18%;
    top: 0.83%;
}

#product .bottle {
    position: absolute;
    width: 20.703125%;
    left: 39.6484375%;
    bottom: 8.859375%;
}

figure {
    margin: 0;
    font-size: 1.5em;
    text-align: center;
}

figure img {
    transition: filter 600ms ease;
}

figure figcaption {
    transition: filter 600ms ease;
}

#eucalyptus {
    position: absolute;
    width: 17.18%;
    top: 1.5%;
    right: 68.6%;
    /*z-index: -1;*/
}

#product figure:hover img, #product figure:hover figcaption{
    -webkit-filter: drop-shadow(1px 1px 0 #FF8900)
		drop-shadow(-1px 1px 0 #FF8900)
		drop-shadow(1px -1px 0 #FF8900)
      	drop-shadow(-1px -1px 0 #FF8900);

	filter: drop-shadow(1px 1px 0 #FF8900) 
		drop-shadow(-1px 1px 0 #FF8900)
		drop-shadow(1px -1px 0 #FF8900)
       	drop-shadow(-1px -1px 0 #FF8900);

    cursor: pointer;
}

#product figure:active img, #product figure:active figcaption {
    -webkit-filter: drop-shadow(1px 1px 0 #F23C00)
		drop-shadow(-1px 1px 0 #F23C00)
		drop-shadow(1px -1px 0 #F23C00)
      	drop-shadow(-1px -1px 0 #F23C00);

	filter: drop-shadow(1px 1px 0 #F23C00) 
		drop-shadow(-1px 1px 0 #F23C00)
		drop-shadow(1px -1px 0 #F23C00)
       	drop-shadow(-1px -1px 0 #F23C00);

    cursor: pointer;
}

#eucalyptus figcaption {
    position: absolute;
    left: -60%;
    top: 33%;
}

#acv {
    position: absolute;
    display: block;
    width: 10%;
    top: 33%;
    right: 87%;
}

#lemon-grass {
    position: absolute;
    width: 25.390625%;
    top: 1%;
    right: 14.5%;
}

#lemon-grass figcaption {
    position: absolute;
    right: -40%;
    top: 33%;
}

#lemon {
    position: absolute;
    width: 29.296875%;
    top: 30.3%;
    right: 1%;
}

#peppermint {
    position: absolute;
    width: 18.359375%;
    top: 39%;
    right: 60%;
}

figure .tooltip {
    position: fixed;
    text-align: center;
    padding: 2em;
    border: 3px solid black;
    border-radius: 6px;
    background-color: white;
    color: black;
    opacity: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 0.8em;
    width: 44%;
    left: 28%;
    top: 30%;
    z-index: 1;
    transition: opacity 800ms ease;
}

@media screen and (max-width: 580px) {
    figure .tooltip {
        top: 25%;
        width: 60%;
        left: 20%;
    }
}

figure img:hover ~ .tooltip, figure figcaption:hover ~ .tooltip {
    opacity: 0.8;
}

#product .btn {
    position: absolute;
    bottom: 14.5%;
    float: right;
    color: white;
    border: none;
    padding: 15px 60px;
    border-radius: 5px;
    font-family: arial;
    font-size: 1.9em;
    cursor: pointer;
    transition: all 500ms ease;
}

#product .btn.more {
    left: 8%;
    background-color: #FF9945;
    box-shadow: -2px 3px 5px 1px #DF6925;
}

#product .btn.more:hover {
    background-color: #FFC985;
}

#product .btn.buy {
    right: 7%;
    background-color: #FF5C00;
    box-shadow: 2px 3px 5px 1px #CF0C00;
}

#product .btn.buy:hover {
    background-color: #FF9C50;
}

/*
 * FOOTER
 */

footer {
    height: 50px;
    background-color: black;
}

/* Overwriting third-party style */
.shopify-buy-frame--product {
    display: none !important;
}